/.run_manager.ini
/impl/
/*_tcl.html
/*_tcr.dir/
/promote.xml
/reportview.xml

/.recovery
/.setting.ini

/generate_core.tcl
/generate_ngd.tcl
/msg_file.log

/res/.*.bin
/res/*.mem
/res/*.uart

/*.edn
/*.naf
/*.sort
/*.srp
/*.sym
/*_generate.log
/*_tmpl.v
